<header>
    <nav>
        <ul>
          <li><a [routerLink]="['/sombre-mi']" [routerLinkActive]="['active']">Sobre mi</a></li>
          <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['active']">Proyectos</a></li>
          <li id="logo"><a href="#">DP</a></li>
          <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['active']">Crear Proyecto</a></li>
          <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a></li>
        </ul>
      </nav>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>
<footer>
    Master en JavaScript de Dante Portales &copy;
</footer>